/* AppComponent's private CSS styles */
h1 {
  font-size: 2em;
  color: #343a40;
  margin-bottom: 16px;
  margin-top: -14px;
  text-align: center;
  font-weight: bold;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: white;
    background: #4a4e52;
    margin-left: 10px;
    width: 237px;
    text-align: center;
    font-size: 18px;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }